
<% flags = locals[:data] || $flags.get_many_limited({}, sort: [{created_at: -1}] )%>
<% if locals[:flagged]%>
<h2> Requests/responses user set flags on for</h2>
<% elsif locals[:flagging] %>
<h2> Requests/responses user is flagged for </h2>
<% else %>
 <h2> Flags</h2>
 <% end %>

  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
  <% keys =  ["_id", "flagging_user_id", "flagged_user_id", "response_id", "request_id", "created_at"]%>
    <thead class='thead-inverse'>
    <% keys.each  do |key| %>
      <td><%= key %> </td>
    <% end %>

  </thead>
  <tbody>

  	<% flags.each do |flag| %>
    <tr class="table-row" data-href="/flags_page?flag_id=<%=flag['_id']%>">
	      <% keys.each do |key| %>
      <% if key == "response_id" && flag[key]%>
        <td> <a href="/response_page?response_id=<%=flag[key]%>"><%= flag[key] || "none" %></a></td>
      <% elsif key == "request_id" && flag[key]%>
      <td> <a href="/request_page?request_id=<%=flag[key]%>"><%= flag[key] || "none" %></a></td>

      <% else%>
      <td><%= flag[key] || "none" %></td>
      <% end %>
      
	  <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

