<%
  forms = $forms_posted.find.limit(100).sort([{created_at: -1}]).to_a
%>

<h3> Forms Posted </h3>

<div class='col-md-5'>
<% forms.each do |form| %>
  <% name, email, time, which_form = form['name'].to_s, form['email'], nice_datetime(form['created_at']), form['which_form'].to_s%>
  <div class="panel panel-primary">
    <div class="panel-heading">      
      <h3 class="panel-title"><%="#{name}, (#{email}) wrote "%><small> via </small><%=" #{which_form}" %><small> at </small><%= "#{(time)}:"%></small></h3>      
    </div>
    <div class="panel-body">
      <%= form['text'] %>
    </div>
    <div class="panel-footer">
      <% form.each do |k,v| %>
        <% next if k=='_id'%>
        <div>
          <strong><%=k%>: </strong><strong><%=v%></strong>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>