
<div style='height:100%; width: 100%; padding:20px' class='border1' contentEditable="true">
<% vendors.each_with_index do |v,idx| %>
    <%
    name = v['Name']
    type = v['Sub-Type'][0]
    address = v['Address'] || v['Neighborhood'].to_a[0]
    img  = ((v['Vendor Images'] || [])[0] || {})['url'] rescue nil
    desc = "(some description)"
  %>
  <div>
    <%= idx+1%>. <%= name %>, <%= type %>, <%= desc %> 
    <% if img && !params[:just_suggestion] %>
    <img src="<%=img%>" style='display: block'/>
  </div>
  <% end %>
<% end %>
</div>
</textarea>  
