<!DOCTYPE html>
<html>
<head>
  <title><%=html_title%></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/lib/bootstrap3.min.css">
  <link rel="stylesheet" href="/css/lib/font-awesome_4.5.0.min.css">

  <%= erb :"layout/material_design" %>  
  
  <link rel="stylesheet" href="/css/main.scss.css">  

</head>

<body style='padding-top: 70px;'>  
  <div class='container-fluid'>        
    <%= erb :"header/header" %>    
    <%= erb :"layout/flash" %>            
    <%= yield %>        
    <%= erb :"footer/footer" %>
  </div>
    
    <%= erb :bottom_js_scripts %>
</body>

</html>
