<!DOCTYPE html>
<html>
<head>
  <title>MyER</title>

  <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/lib/bootstrap3.min.css">
  <%= erb :"layout/material_design" %>  
  
  <link rel="stylesheet" href="/css/main.scss.css">  

</head>

<body style='padding-top: 70px;'>  
  <div class='container-fluid'>        
    <%= erb :"header/header" %>    
    <%= erb :"layout/flash" %>            
    <%= yield %>        
    <%= erb :"footer/footer" %>
  </div>
    
    <%= erb :bottom_js_scripts %>
</body>

</html>
