<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<style type="text/css">
.table-row{
cursor:pointer;
}
</style>  
<h2> Request </h2>
   <%item =  locals[:request] || $ir.get({_id:params[:request_id]})%>
   <%keys = REQUESTS_TABLE_FIELDS%>
  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
    <thead class='thead-inverse'>

    <% keys.each  do |key| %>
      <td><%= key %> </td>
    <% end %>
  </thead>
  <tbody>
  		<tr class="table-row">

	  <% keys.each do |key| %>
      <% if key == "paid" && !item[:paid] %>
        <td> <a href="/pay?id=<%=item["_id"]%>"> <button type="button" class="btn btn-primary btn-sm">Pay now</button></a> </td>
      
      <%else%>
        <td> <%= item[key] || "none" %></td>
      <%end%> 
	  <% end %>

    
	  </tr>
	  
  
  </tbody>
</table>


                                            


  <h2> Responses </h2>
  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
  <% responses = locals[:responses] ||  $res.get_many_limited({request_id:params[:request_id]}, sort: [{created_at: -1}] )%>
    <thead class='thead-inverse'>
    <% response_keys = RESPONSES_TABLE_FIELDS %>
    <% response_keys.each  do |key| %>
      <td><%= key %> </td>
    <% end %>

  </thead>
  <tbody>
  
  <% responses.each do |response| %>
  		<tr class="table-row" data-href="/response_page?response_id=<%=response['_id']%>">

    <% response_keys.each do |key| %>
    <td> <%= response[key] || 'value missing' %></td>

	    <% end %>
	  </tr>
	  
  <% end %>
  </tbody>
</table>

   <%= erb :"responses/response_form" %>    