
<%
# receives params[:coll]
  coll_name = locals[:coll] #params[:coll]
  coll      = locals[:coll] = $mongo.collection(coll_name) #locals[:coll] 
  crit      = {}
  
  anywhere_val = locals[:user_id]#params_val(:anywhere_val)

  if anywhere_val
    crit      = crit_any_field(coll,anywhere_val)
  end
  limit     = params_num(:limit, max: 100, default: 100)
  sort_field= either(params[:sort_field], :created_at)
  sort_dir  = params[:sort_dir].to_i == 1 ? 1 : -1
  items     = coll.find(crit).limit(limit).sort([{sort_field => sort_dir}]).to_a 
  fields    = items.map(&:keys).flatten.hash_of_num_occurrences.keys #shared fields to show #hat does fields do?
%> 

<div class='row'>
  

  <div class='col-md-12' style='border:1px solid red'>  
    <h3> <%=coll_name.capitalize%> </h3>
    <table class='table table-striped table-bordered table-hover table-sm table-responsive'>
      <thead class='thead-inverse'>
      <tr>
        <% fields.each do |field| %>
          <th> <%= field.to_s %> </th>
        <% end %>
      </tr>
      </thead>
      <% items.each do |item| %>      
        <tr class='mongo_item_row'>
          <% fields.each do |field| %>
            <% 
              id   = item["_id"]
              val = item[field].to_s 
              val = escape_html(val)
              val = val.gsub(/#{anywhere_val}/i) { |s| "<mark>#{s}</mark>" } if anywhere_val && val.downcase.include?(anywhere_val.downcase)
            %>
            <td class='mongo_item_cell truncate' ondblclick="editItem(this, '<%=coll_name%>','<%=id%>','<%=field%>','<%=val%>')"> <%= val %> </td>
          <% end %>
          <td> 
            <i class="fa fa-times-circle-o" onclick="deleteItem('<%=coll_name%>','<%=item['_id']%>', this)" style='font-size:20px; color:darkred; cursor: pointer'></i>
          </td>
      <% end %>
    </table>
  </div>
</div>