<style>
  .mongo_item_cell:hover { 
    background-color: lightgrey;
    color: black;
    cursor: pointer;
  }

  .truncate {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>

<script>
  function deleteItem(type,id,cell) {
    if (confirm('Are you sure you want to delete this?')){
      $.post('/admin/delete_item',{coll: type, id: id})
       .success(function(res){ $(cell).closest('tr').fadeOut();})
       .error(function(res){ alert(res.responseJSON.msg)});
    }
  }
</script>

<h2 style="font-family: verdana;">About me</h2>
<% user =  locals[:data]%>

<h4 style="font-family: verdana;">My email is <%= user["email"] %> </h4>
<h4 style="font-family: verdana;">My user_id is <%= user["_id"] %> </h4>
<h4 style="font-family: verdana;">My name is <%= user["name"] %> </h4>
<img src=<%=user[:pic_url]%> class="img-rounded" alt="Photo">
<h4 style="font-family: verdana;">Created at <%= user["created_at"] %> </h4>

<% if user["blocked"]%>
    <% block_text = "Unblock user"%>
    <% block_route = "unblock_user"%> 
<% else%>
    <%  block_text = "Block user"%>
    <% block_route = "block_user"%> 
<% end%> 
<a href="/admin/<%=block_route%>?user_id=<%=user["_id"]%>"> <button type="button" class="btn btn-raised btn-primary btn-lg"><%=block_text%></button></a> 

  <% requests = $ir.get_many({user_id:params[:user_id]})%>
  <% responses = $res.get_many({user_id:params[:user_id]})%>
  <% flagging = $flags.get_many({flagging_user_id:params[:user_id]})%>

  <% flagged =  $flags.get_many({flagged_user_id:params[:user_id]})%>

  <% if requests.count > 0%>
    <p> <%=erb :"info_requests/requests_page", locals: {data: requests } if requests%></p>   
  <% end%>
  <% if responses.count > 0%>
  <p> <%=erb :"responses/responses_page", locals: {data: responses } if responses %></p> 
  <% end%>
  <% if flagging.count > 0 %>
  <p> <%=erb :"flags/flags", locals: {data: flagging, flagging: true }%></p> 
  <% end%>
  <% if flagged.count > 0 %>
  <p> <%=erb :"flags/flags", locals: {data: flagged, flagged: true} %></p> 
  <% end%>


