 <!-- Latest compiled and minified CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<style type="text/css">
.table-row{
cursor:pointer;
}
</style> 

 <section class='centerText'>
  <h1>User List</h1>
</section>

  <table class='table table-striped table-bordered table-hover table-sm table-responsive' >
    <thead class='thead-inverse'>
    <td> _id </td>
    <td> email </td>
    <td> name </td>
    <td> created </td>
    <td> blocked </td>
  </thead>
  <tbody>
  <% users = $users.get_many_limited({}, sort: [{created_at: -1}] )%>
  <% users.each do |user| %>
  <tr class="table-row" data-href="/user_page?user_id=<%=user['_id']%>"> 
    <td> <%= user['_id'] %> </td>
    <td> <%= user['email'] %> </td>
    <td> <%= user['name'] %> </td>
    <td> <%= user['created_at'] %> </td>
    <td> <%= user['blocked'] %> </td>
  </tr>
  <% end %>
  </tbody>
</table>

<!-- responses = $res.get_many_limited({request_id: old['_id']}, sort: [{created_at: -1}] )  -->