<style>

.tyhrp1 {
  font-size: 20px;
  margin-top: 20px;
}
</style>
<section class='tell-your-hr centerText col-md-12'>

  <h1 style='font-weight: bold; font-size: 40px; margin-top: 100px'><span class='go-ahead' style='color: darkorange;'>GO AHEAD</span> GO TELL YOUR HR ON US</h1>

  <div class='row'>
    <section class='col-md-8 col-md-offset-2 tyhrp1' style='margin-bottom:140px'>
      <p class=''>We're not your like dad's corporate events. We've got fun, young people like yourself to test these activities and make sure they're awesome.</p>

      
      <p class=>So, do yourself a favor and tell your HR or manager about us.</p>

      <p style='margin-bottom:30px'> Or, tell us about you and we'll contact them. <strong style=''>If your company ends up booking, we'll give you an American Express gift card of $25.</strong> </p>

      <%= erb :"wekudo/forms/tell_us_about_your_hr" %>

    </section>
  </div>

  <div class='row'>
  <h2 style='font-size: 35px'> OVER 2,000+ F' Awesome Activities </h2>
  <h4 style='color: red'>(* stands for flippin')</h4>
    <% rows = [
      {
        img1: 'https://static.wixstatic.com/media/4180df99b4134a83ac9bade4b8607432.png/v1/fill/w_148,h_148,al_c,usm_0.66_1.00_0.01/4180df99b4134a83ac9bade4b8607432.png',
        title: 'Simple Booking',  
        text: "Wekudo uses your company's budget to plan the perfect event for your team. We have a best price guarantee with all our approved and partnered experiences. By describing us your goals and workplace dynamics, we're able to better customize the experience to meet your needs. As for everything else: you tell us the date, time, headcount and anything else you'd like to have at the event and you'll be set.",
        img2: 'https://static.wixstatic.com/media/4c3129_98bf053861594d598c93ff2090e5c3d2.jpg/v1/fill/w_229,h_253,al_c,q_80,usm_0.66_1.00_0.01/4c3129_98bf053861594d598c93ff2090e5c3d2.jpg'
      },

      {
        img1: 'https://static.wixstatic.com/media/46bcc8992d454fd4b86a249f0ecd50e4.png/v1/fill/w_145,h_145,al_c,usm_0.66_1.00_0.01/46bcc8992d454fd4b86a249f0ecd50e4.png',
        title: 'Fun For Sure',
        text: "We get our clients, team members and young, NYC professionals to vet out the experiences before we bring them on board. They go through a series of tests and applications in order to be approved. Our mission is to inspire happiness at work and if its not for the awesome experiences we have on our network, we wouldn't be able to do that.",
        img2: 'https://static.wixstatic.com/media/4c3129_317aea84e8e649669773d7500e96358a.jpg/v1/fill/w_229,h_253,al_c,q_80,usm_0.66_1.00_0.01/4c3129_317aea84e8e649669773d7500e96358a.jpg'
      },
      {
        img1: 'https://static.wixstatic.com/media/bb9a34cdbbb94cfa828fef9d549eefde.png/v1/fill/w_146,h_146,al_c,usm_0.66_1.00_0.01/bb9a34cdbbb94cfa828fef9d549eefde.png',
        title: 'Best Price Guarantee',
        text: "All of our partnered experiences promise us a best price guarantee. We supply them with many different inquiries and events that help them give us group rates. Dip into extra savings by working with certain week days and times & let us know your budget so we can try to accommodate.",
        img2: 'https://static.wixstatic.com/media/4c3129_3161bd63095f497b84ea3e84f02f9691.jpg/v1/fill/w_229,h_253,al_c,q_80,usm_0.66_1.00_0.01/4c3129_3161bd63095f497b84ea3e84f02f9691.jpg'
      }
    ] %>

    <% rows.each do |row| %>
    <div class='col-md-12' style='margin-bottom: 30px'>
      <div class='col-md-4'>
        <span style='display: inline-block; vertical-align: middle'>
          <img src=<%=row[:img1]%>>
        </span>
      </div>

      <div class='col-md-4' style='text-align: left'>  
        <h3><%= row[:title] %></h3>
        <%= row[:text] %>
      </div>

      <div class='col-md-4'>
      <img src=<%=row[:img2]%> style='border-radius: 50%'>
      </div>

    </div>
    <% end %>
  </div>

</section>